@import "tailwindcss";

@theme{
    --color-primary:#377DFF;
    --color-primary-hover:#1854c5;
    /* --color-secondary:#121517; */
    /* --color-tertiary:#121517; */
    --color-bg:#121517;
    --color-bg-500:#12151767;
    --color-text:#fff;
    --color-shadow:#13161a;
    --color-text-details:#a5a5a5;
    --color-details:#1f2224;
    --font-montserrat:'Montserrat', sans-serif;
    --font-outfit:'Outfit', sans-serif;
    --font-poppins:'Poppins', sans-serif;
}

html,
body {
    margin: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--color-bg);
    color: var(--color-text);
    max-width: 100dvw;
    overflow-x: hidden;
    font-family: var(--font-outfit);
}
  
  .shadowLandingForm{
      box-shadow: 0px .5px 1px #ffffff86;
  }
  
  .bgimage{
    background-image: url('../assets/Icons/curve.svg');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: visible;
    &.nav{
        background-image: url('../assets/Icons/curve3.svg');
        background-position: 50% 105%;
        background-size: 0%;
        animation: bgsize 0.3s forwards cubic-bezier(0.175, 0.885, 0.32, 1.175);
    }
    &.about{
        background-image: url('../assets/Icons/curve2.svg');
        background-position: 50% 100%;
    }
  }
  
@keyframes bgsize {
    to{
        background-size: 80%;
    }
}


.footer{
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: visible;
    background-image: url('../assets/Icons/bgfooter.svg');
    background-position: 50% 10%;
}

.hljs{
    background: var(--color-bg) !important;
    margin-left:-10px;
}

.showIDECard1{
    animation: showCard1 .8s forwards cubic-bezier(0.175, 0.885, 0.32, 1.175);
    transform: translateY(5%);
    opacity: 0;
}

@keyframes showCard1{
    0%{
        transform: translateY(5%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

.showIDECard{
    animation: showCard 0.2s forwards ease-out;
    transform: translateY(200%);
    &.closeIDECard{
        animation: hiddeCard 0.5s forwards cubic-bezier(0.175, 0.885, 0.32, 1.175);
        transform: translateY(0%);
    }
}

@keyframes hiddeCard{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(200%);
    }
}


@keyframes showCard{
    0%{
        transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
    }
    
}


/*  */

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
}