---
import Layout from '../layouts/Layout.astro';
import mailIcon from '../assets/Icons/mail.svg'
import IDE from '../components/react/IDE';
---

<Layout>
	<main class="px-28 h-fit relative">
		<svg class="absolute pointer-events-none w-screen left-0 z-0" width="1566" height="1082" viewBox="0 0 1566 1082" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M-305 277.5C-129.833 125.5 270.5 -131.3 470.5 57.5C595.681 175.671 400.142 420.146 154.343 643.409C88.8627 702.886 160.526 834.902 244.048 805.757L501.738 715.834C575.43 690.118 649.883 793.078 633.19 869.322C609.595 977.087 654.491 1071.93 865 1081C1004.83 1078.17 1559 998.3 1565 677.5C1571 356.7 1292.5 260.5 1203.5 234C971.333 172.167 709.4 15.9 1493 -74.5" stroke="#262727"/>
		</svg>
		<section class="min-h-[72dvh] h-fit text-center w-full flex items-center flex-col gap-3 justify-center">
			<b class="font-light mt-20 text-sm border border-details px-7 py-1.5 rounded-full">Yeferson Ruzon</b>
			<h1 class="text-7xl font-montserrat font-semibold">Creative <span class="relative"><b class="relative font-semibold bgimage">UI/UX</b></span> <br> Designer & Web <br> Front<span class="text-primary">-</span>End Dev<span class="text-primary">.</span></h1>
			<p class="max-w-fit text-sm text-text-details">Hi, I'm Yeferson Ruzon, a passionate UI/UX Designer & Web Front-End <br> Developer of 21 years old. My focus is on creating digital experiences that are not <br> only visually appealing, but also intuitive and functional. I combine <br> my UI/UX design skills with a strong background in front-end development <br> to build user interfaces.</p>
			<div class="flex  items-center justify-center bg-bg border-details shadow shadow-shadow border-2 rounded-full px-5 py-2 pr-2  mt-5">
				<img src={mailIcon.src} alt="mail icon" class="w-5">
				<input type="email" placeholder="Enter your email" class="w-full focus:outline-none pl-3 pr-10">
				<button class="text-sm py-2.5 px-5 bg-primary rounded-full shadow">Contact</button>
			</div>
		</section>
		<section class="flex items-center mb-10 justify-center w-full h-fit">
			<IDE client:only>
				<div slot="fallback" class="w-screen h-screen top-0 left-0 fixed z-50 bg-bg flex items-center justify-center">
					<svg class="animate-spin" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.1157 2.42566C12.668 2.42566 13.1157 2.87338 13.1157 3.42566V6.42566C13.1157 6.97794 12.668 7.42566 12.1157 7.42566C11.5634 7.42566 11.1157 6.97794 11.1157 6.42566V3.42566C11.1157 2.87338 11.5634 2.42566 12.1157 2.42566ZM12.1157 17.4257C12.668 17.4257 13.1157 17.8734 13.1157 18.4257V21.4257C13.1157 21.978 12.668 22.4257 12.1157 22.4257C11.5634 22.4257 11.1157 21.978 11.1157 21.4257V18.4257C11.1157 17.8734 11.5634 17.4257 12.1157 17.4257ZM20.7759 7.42566C21.0521 7.90395 20.8882 8.51554 20.4099 8.79168L17.8118 10.2917C17.3335 10.5679 16.7219 10.4039 16.4458 9.92566C16.1697 9.44737 16.3335 8.83578 16.8118 8.55964L19.4099 7.05963C19.8882 6.78349 20.4998 6.94737 20.7759 7.42566ZM7.78556 14.9257C8.0617 15.404 7.89782 16.0156 7.41953 16.2917L4.82146 17.7917C4.34316 18.0679 3.73157 17.904 3.45543 17.4257C3.17929 16.9474 3.34316 16.3358 3.82146 16.0597L6.41953 14.5597C6.89782 14.2835 7.50941 14.4474 7.78556 14.9257ZM20.7759 17.4257C20.4998 17.904 19.8882 18.0679 19.4099 17.7917L16.8118 16.2917C16.3335 16.0156 16.1697 15.404 16.4458 14.9257C16.7219 14.4474 17.3335 14.2835 17.8118 14.5597L20.4099 16.0597C20.8882 16.3358 21.0521 16.9474 20.7759 17.4257ZM7.78556 9.92566C7.50941 10.4039 6.89782 10.5679 6.41953 10.2917L3.82146 8.79168C3.34316 8.51554 3.17929 7.90395 3.45543 7.42566C3.73157 6.94737 4.34316 6.78349 4.82146 7.05963L7.41953 8.55964C7.89782 8.83578 8.0617 9.44737 7.78556 9.92566Z" fill="#377DFF"/>
					</svg>
				</div>
			</IDE>
		</section>
	</main>
</Layout>