---
import menu from '../assets/Icons/menu.svg'
---

<nav class="flex justify-between px-16 py-12 items-center fixed top-0 left-0 w-screen">
    <div class="w-6">
        <img src="/RZ.svg" class="object-contain" alt="Yeferson Ruzon" />
    </div>
    <ul class="flex items-center justify-center font-light relative after:bg-primary after:rounded-full after:w-[5.9rem] after:content-['Home'] after:text-center after:flex after:items-center after:justify-center after:h-8 after:absolute after:left-2.5">
        <li class="bg-white py-2 text-bg rounded-full px-9">Home</li>
        <li class="bg-white py-2 px-4 text-bg rounded-l-full pl-9">About me</li>
        <li class="bg-white py-2 px-4 text-bg">Creations</li>
        <li class="bg-white py-2 px-4 text-bg rounded-r-full pr-9">Contact</li>
        <li class="rounded-full bg-white flex items-center justify-center p-1"><img src={menu.src} class="object-contain p-1.5 w-8 rounded-full bg-primary" /></li>
    </ul>
</nav>